In [2]:
import pandas as pd
import numpy as np
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2013-01-01  0.438238 -1.814453  1.453359  0.908674
2013-01-02 -0.390988  0.795040  1.158340 -0.875688
2013-01-03 -0.511595  0.001201 -0.826737  1.940081
2013-01-04 -1.790460 -1.885965 -1.143953 -0.023905
2013-01-05  0.518242 -0.925285 -0.421229  0.023341
2013-01-06  0.477556 -1.500939  0.098399 -0.011532

In [3]:
df['A']

2013-01-01    0.438238
2013-01-02   -0.390988
2013-01-03   -0.511595
2013-01-04   -1.790460
2013-01-05    0.518242
2013-01-06    0.477556
Freq: D, Name: A, dtype: float64

In [4]:
df[0:3]
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.390988  0.795040  1.158340 -0.875688
2013-01-03 -0.511595  0.001201 -0.826737  1.940081
2013-01-04 -1.790460 -1.885965 -1.143953 -0.023905

In [5]:
df.loc['20130102':'20130104',["A","B"]]
df.iloc[3:5, 0:2]
df.iloc[[1, 2, 4], [0, 2]]
df.iloc[1, 1]
df.iat[1, 1]

np.float64(0.7950402922907926)

In [6]:
df[df.A>0]

                   A         B         C         D
2013-01-01  0.438238 -1.814453  1.453359  0.908674
2013-01-05  0.518242 -0.925285 -0.421229  0.023341
2013-01-06  0.477556 -1.500939  0.098399 -0.011532

In [7]:
df.iat[0,2] = np.nan
print(df)
df = df.dropna(how = 'any')
pd.isnull(df)
df.fillna(value = 5)

                   A         B         C         D
2013-01-01  0.438238 -1.814453       NaN  0.908674
2013-01-02 -0.390988  0.795040  1.158340 -0.875688
2013-01-03 -0.511595  0.001201 -0.826737  1.940081
2013-01-04 -1.790460 -1.885965 -1.143953 -0.023905
2013-01-05  0.518242 -0.925285 -0.421229  0.023341
2013-01-06  0.477556 -1.500939  0.098399 -0.011532

                   A         B         C         D
2013-01-02 -0.390988  0.795040  1.158340 -0.875688
2013-01-03 -0.511595  0.001201 -0.826737  1.940081
2013-01-04 -1.790460 -1.885965 -1.143953 -0.023905
2013-01-05  0.518242 -0.925285 -0.421229  0.023341
2013-01-06  0.477556 -1.500939  0.098399 -0.011532

In [7]:
left = pd.DataFrame({'key': ['foo', 'bar'],'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'],'rval': [4, 5]})
pd.merge(left,right,on = 'key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'foo', 'foo', 'bar'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'C': np.random.randn(8),
    'D': np.random.randn(8)})
df.groupby('A').sum()
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    1.319205  0.293645
    three  0.564385 -0.993115
foo one    2.322751  0.443794
    two    0.055214 -2.521264

In [9]:
df.to_csv('foo.csv')
df = pd.read_csv('foo.csv')
print(df.head())

   Unnamed: 0    A      B         C         D
0           0  foo    one  0.866504  0.939190
1           1  bar    one  1.319205  0.293645
2           2  foo    two  0.349207 -1.512887
3           3  bar  three  0.686454 -0.706694
4           4  foo    two -0.629002 -0.206422

In [10]:
df.to_hdf('foo.h5', 'df')
df = pd.read_hdf('foo.h5', 'df')
print(df.head())
df.to_excel('foo.xlsx', sheet_name = 'Sheet1')
df = pd.read_excel('foo.xlsx', 'Sheet1',index_col=None, na_values=['NA'])
print(df.head())

C:\Users\chuan\AppData\Local\Temp\ipykernel_52236\1253694638.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_hdf except for the argument 'path_or_buf' will be keyword-only.
  df.to_hdf('foo.h5', 'df')

   Unnamed: 0    A      B         C         D
0           0  foo    one  0.866504  0.939190
1           1  bar    one  1.319205  0.293645
2           2  foo    two  0.349207 -1.512887
3           3  bar  three  0.686454 -0.706694
4           4  foo    two -0.629002 -0.206422
   Unnamed: 0.1  Unnamed: 0    A      B         C         D
0             0           0  foo    one  0.866504  0.939190
1             1           1  bar    one  1.319205  0.293645
2             2           2  foo    two  0.349207 -1.512887
3             3           3  bar  three  0.686454 -0.706694
4             4           4  foo    two -0.629002 -0.206422